body {
  max-width: 1400px;
  min-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.loader-ring-m {
  width: 250px;
  height: 250px;
  position: relative;
  top: 225px;
  right: 0;
  bottom: 0;
  margin: auto;

  @keyframes loader-ring-m {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  >div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: calc(100% - 13px);
    height: calc(100% - 13px);
    margin: 3px;
    border: 3px solid black;
    border-radius: 50%;
    animation: loader-ring-m 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ef5350 transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}



.app {
  display: grid;
  margin: 0 auto;
  height: 100vh;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;


  .like-button {
    position: relative;
    width: 24px;
    top: 10px;
    height: 39px;
    background-color: gray;
    box-shadow: -1px 0px 2px #444;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;

    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);


    &.like {
      background-color: red;
    }

    &.like:before {
      background-color: red;
    }

    .like-button:hover:before,
    .like-button:hover {
      box-shadow: none;
    }
  }


  .like-button:before {
    position: absolute;
    width: 37px;
    height: 23px;
    left: 0;
    bottom: 0;
    content: "";
    background-color: grey;
    box-shadow: 0px 3px 3px #444444;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 0 50px 50px 0;

  }



  .page {
    margin-bottom: 40px;
    padding-left: 20px;

    .main {
      grid-area: c;

      .input {
        text-align: center;

        .input-s {
          width: 500px;
          height: 20px;
          padding:10px;
          margin-top: 10px;
          border: 2px solid black;
          border-radius: 15px;
        }

        .input-s:focus{
          outline: none;
        }
      }

      


    }

    .favorites {
      grid-area: c;
    }
  }

  .message {
    position: relative;
    top: 225px;
    font-size: 24px;
  }

  .nav {
    grid-area: n;
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding-right: 20px;

    a {
      width: 100%;
      height: 20px;
      display: block;
      text-decoration: none;
      background-color: white;
      color: black;
      margin: 10px 5px 0px 10px;
    }
  }

  .header {
    grid-area: h;
    height: 55px;
    left: 4%;
    position: relative;
  }

  .header-page {
    text-align: left;
    padding: 10px 0 10px 40px;
    font-size: 24px;
    font-weight: 900;
  }

  .card {
    padding-top: 15px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 400px;
    margin: 10px;

    .person-ava {
      height: 300px;
      width: 200px;
    }

    .person-name {
      font-size: 16px;
      font-weight: 600;
    }

    .planet-name {
      font-size: 16px;
      font-weight: 600;
    }

  }

  .pagination-line {
    margin-top: 40px;
    width: 100%;
    text-align: center;

    .pagination {
      display: inline-block;
      margin: 0 auto;
      width: 30px;
      height: 30px;
      text-align: center;
      padding-left: 30px;


      .number {
        border-radius: 15px;
        padding: 10px;


        &.active {
          background-color: brown;
        }

        .num {
          text-align: center;
          line-height: 10px;
        }
      }
    }
  }
}